.card{
  width:8rem;
  height:10rem;
  margin-top: 20px;
  margin-left: 20px;
  color:black;
  box-shadow: 2px 2px 2px rgb(206, 238, 238);
  border-radius: 25px;
  
}


.footer1{
  margin-left:0px;
  width:80px;
  color: black;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;      


}

.dropdown{

color: black;
background-color: transparent;
border: none;
bottom: 22px;
left: 30px;
height:30px;
width: 2px;


}
.dropdownFolder{
color: black;
background-color: transparent;
border: none;
margin-top: 8px;
margin-left:70px;
height:35px;
width: 35px;
 

}
.dropdownFolder1{
color: black;
background-color: transparent;
border: none;
margin-top: 8px;
margin-left: 25px;
height:35px;
width: 35px;
 

}

.dropButton:hover{
background-color:rgb(197, 253, 253);
}
.drop:hover{
background-color: none;

}


  .dropdown-toggle::after{
   content: none;
  
}
.dropdown-toggle:hover{
  margin-right: 20px;
  background-color:whitesmoke ;
 border: none;
 color:black;
}


.footer{
  height: 40px;
  align-items: center;

  
  

}
.footer1{
  margin-left:0px;
  width:80px;
  color:black;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    


}


.dropdown-menu{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
 font-size: 15px;
 height: auto;
 background-color: whitesmoke;
 color:white;
 border-radius: 10px;
 border: 1px solid aquamarine;
 box-shadow: 0.5px 0.5px 0.5px;
}
.menuItem:hover{
 
 background-color: rgb(46, 189, 179);
 color:white;
}
.cardStyle{

background-color: white;

}

.cardStyle1{

background-color: white;


}
.mainGradient{
  background-color:#f5f6fb;
  width: 85%;
  margin-left: 15%;
  border:1px solid yellow;
  height:100%;
  border-radius: 10px;
}
.header__search{
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  width: 800px;
  height: 40px;
  background-color:transparent;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid black;
  color:#ff9f02;
}

.modal{
  border-radius: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.modalHeader{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #343851;
  color: white;
}
.modalBody{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 5px;
}
